a {
    color: $color-text-soft;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }


    &.disabled,
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
