//
// Layout and spacing variables
//

$container-width:         1440px;
$container-narrow-width:  ($container-width / 3);

$spacing-x-small:         0.5rem;
$spacing-small:           0.75rem;
$spacing-base:            1rem;
$spacing-medium:          1.25rem;
$spacing-large:           2rem;
$spacing-x-large:         3rem;

$spacing-section:         5rem;

$icon-size:               1.5rem;

$topbar-height: 65px;
