<section class="enter">
    <div class="enter__background"></div>

    <div class="enter__container">
        <h1 class="enter__headline logo">Uni<span>Sketch</span></h1>

        <div class="enter__body">

            <div class="invalid token" *ngIf="!validToken" id="invalid-token-message">{{invalidTokenMessage}}</div>

            <form *ngIf="validToken" action="" class="form" id="reset-password-form" name="form"
                  #f="ngForm"
                  novalidate
            >

                <h3>Reset my password</h3>
                <p class="intro">Please enter a new password.</p>

                <!-- Password -->
                <div class="form__row">
                    <input type="password" placeholder="••••••••••" id="password"
                           name="password"
                           [(ngModel)]="password"
                           #passwordInput="ngModel"
                           required
                    >
                    <label class="label" for="password">Password</label>
                    <span class="msg msg--error"
                          *ngIf="f.submitted && !passwordInput.valid">Password is required.</span>
                </div>

                <!-- Password -->
                <div class="form__row">
                    <input type="password" placeholder="••••••••••" id="password_repeat"
                           name="password_repeat"
                           [(ngModel)]="passwordRepeat"
                           #passwordRepeatInput="ngModel"
                           required
                    >
                    <label class="label" for="password_repeat">Repeat Password</label>
                    <span class="msg msg--error"
                          *ngIf="f.submitted && !passwordRepeatInput.valid">Password is required.</span>
                </div>

                <!-- Passwords do not match -->

                <div class="form__submit button-group">
                    <button class="button button--cta" (click)=resetPassword() id="login-submit">{{ buttonText }}
                    </button>
                </div>
            </form>

            <div class="msg msg-success" *ngIf="resetPasswordMessage">{{ resetPasswordMessage }}</div>
        </div>
    </div>
</section>
