<section class="about container--narrow">
    <h2>Manage your ideas</h2>
    <p>Use cases range from small, private doodles all the way to product sketches. Such projects are usually not a single person's task, so UniSketch allows you to collaboratively work on your sketches in real-time. There are no boundaries to your creativity.</p>
    <p>UniSketch has been in development for four semesters by students of the Hochschule für Technik und Wirtschaft Berlin, University of Applied Sciences. It is part of a project study in the fifth semester of the "Applied Computer Science" major and is supervised by Prof. Dr.-Ing. Habakuk Israel.</p>
</section>
