<form action="" class="form" id="forgot-password-form" name="form"
        #f="ngForm"
        novalidate
    >
    <h3>Reset my password</h3>
    <p class="intro">Please enter the e-mail address you signed up with.</p>

    <!-- Enter E-Mail for password recovery -->
    <div class="form__row">
        <input type="email" placeholder="user@example.com" id="mail"
                name="email_address"
                [(ngModel)]="user.email_address"
                #email_address="ngModel"
                required
            >
        <label class="label" for="mail">E-Mail</label>
        <span class="msg msg--error" *ngIf="f.submitted && !email_address.valid">E-Mail is required.</span>
    </div>

    <div class="form__submit button-group">
        <button class="button button--cta" (click)=forgotPassword()  id="login-submit">{{ buttonText }}</button>
    </div>
</form>

<div class="msg msg-success" *ngIf="forgotPasswordMessage">{{ forgotPasswordMessage }}</div>
